@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Montserrat", sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  body {
    @apply antialiased selection:bg-[#9932CC] selection:text-white bg-white text-black;
  }
}

.serif {
  font-family: var(--font-serif);
}
